/* app css stylesheet */
.body-style {
  background-color: #345939;
  color: white;
}

.infovalue {
  border: 1px solid;
  padding: 2px;
  background-color: #234;
}

.allParts {
  margin : 1em;
  /*float: left;*/
}

.houseInfo {

}
