<div class="allParts">
  <h2>Main room</h2>

  <p>Room temperature:
    <span class="fa fa-thermometer-half fa-lg" style="color:red" aria-hidden="true"></span>
    <span class="infovalue"> {{temperatureMainroom}} &#8451 </span>
  </p>

  <p>Room humidity:
    <span class="fa fa-tint fa-lg" style="color:blue" aria-hidden="true"></span>
    <span class="infovalue"> {{humidityMainroom}} % </span>
  </p>
</div>

<div class="allParts">
  <button id="turnMainroomLights" type="button"
    class="btn btn-primary"
    ng-click="turnMainroomLights()"
    ng-hide="!overrideLight">
    Turn room lights {{lightMainroom && 'off' || 'on'}}
  </button>
  <span ng-hide="overrideLight"> hurr durr</span>
<span class="fa-stack fa-2x" style="color:{{bulbMainroom}}" >
  <!-- <i class="fa fa-sun-o fa-stack-2x"></i> -->
  <i class="fa fa-sun-o fa-stack-2x ng-hide" ng-hide="!lightMainroom"></i>
  <i class="fa fa-lightbulb-o fa-stack-1x"></i>
</span>
</div>

<div class="allParts">
  <span class="overrideInfo" ng-hide="overrideTemp">Temperature override is ON</span>
  <span class="overrideInfo" ng-hide="!overrideTemp">Set room temperature</span>
  <div class="btn-group-vertical">
    <button id="temperatureUpMainroom" type="button"
      class="btn btn-default btn-xs"
      ng-click="heater(true)"
      ng-hide="!overrideTemp">
        <span class="fa fa-chevron-up" aria-hidden="true"></span>
    </button>
    <button id="temperatureDownMainroom" type="button"
      class="btn btn-default btn-xs"
      ng-click="heater(false)"
      ng-hide="!overrideTemp">
        <span class="fa fa-chevron-down" aria-hidden="true"></span>
    </button>
  </div>
  <span class="infovalue"> {{!overrideTemp && temperatureHouse || temperatureMainroomSet}} &#8451</span>
</div>


<div class="allParts">
  Alerts: <span class="label label-success">{{alerts}}</span>
</div>
