<div class="allParts">
  <h2>Living room</h2>

  <p>Room temperature:
    <span class="fa fa-thermometer-half fa-lg" style="color:red" aria-hidden="true"></span>
    <span class="infovalue"> {{roomTemperature}} &#8451 </span>
  </p>

  <p>Room humidity:
    <span class="fa fa-tint fa-lg" style="color:blue" aria-hidden="true"></span>
    <span class="infovalue"> {{roomHumidity}} % </span>
  </p>
</div>

<div class="allParts">
  <button type="button"
    ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[!roomLights]"
    ng-click="toggleRoomLights()"
    ng-hide="!overrideLight">
    Turn room lights {{roomLights && 'off' || 'on'}}
  </button>
  <span ng-hide="overrideLight">Lighting override is ON</span>
<span class="fa-stack fa-2x">
  <!-- <i class="fa fa-sun-o fa-stack-2x"></i> -->
  <i class="fa fa-sun-o fa-stack-2x" style="color:#ffcc00" ng-hide="!roomLights || !overrideLight"></i>
  <i class="fa fa-lightbulb-o fa-stack-1x" style="color:#ffcc00" ng-hide="!roomLights || !overrideLight"></i>
  <i class="fa fa-lightbulb-o fa-stack-1x" ng-hide="roomLights && overrideLight"></i>
</span>
</div>

<div class="allParts">
  <span class="overrideInfo" ng-hide="overrideTemp">Temperature override is ON</span>
  <span class="overrideInfo" ng-hide="!overrideTemp">Set room temperature</span>
  <div class="btn-group-vertical">
    <button type="button"
      class="btn btn-default btn-xs"
      ng-click="heater(true)"
      ng-hide="!overrideTemp">
        <span class="fa fa-chevron-up" aria-hidden="true"></span>
    </button>
    <button type="button"
      class="btn btn-default btn-xs"
      ng-click="heater(false)"
      ng-hide="!overrideTemp">
        <span class="fa fa-chevron-down" aria-hidden="true"></span>
    </button>
  </div>
  <span class="infovalue"> {{!overrideTemp && temperatureHouse || roomTemperatureSet}} &#8451</span>
</div>


<div class="allParts">
  Alerts: <span class="label label-success">{{alerts}}</span>
</div>
