<p>This is the partial for home.</p>

<p>Outside temperature:
  <span class="fa fa-thermometer-half fa-lg" style="color:red" aria-hidden="true"></span>
  <span class="infovalue"> {{temperature_out}} &#8451 </span>
</p>

<p>Outside humidity:
  <span class="fa fa-tint fa-lg" style="color:blue" aria-hidden="true"></span>
  <span class="infovalue"> {{humidity_out}} % </span>
</p>


<div class="container">
  <button id="lockAllDoors" name="open" type="button"
  ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[!doorsLocked]"
  ng-click="doorsLocked = !doorsLocked" onclick = "lockDoors(this.name)">
  {{!doorsLocked && 'Lock' || 'Unlock'}} all doors
</button>
</div>

<div class="container">
  <button id="turnLights" type="button"
    class="btn btn-primary"
    ng-click="turnLights()">
    Turn lights {{light && 'off' || 'on'}}
  </button>
<span class="fa-stack fa-2x" style="color:{{bulb}}" >
  <i class="fa fa-sun-o fa-stack-2x"></i>
  <!--<i class="fa fa-sun-o fa-stack-2x ng-hide" ng-hide="!light"></i>-->
  <i class="fa fa-lightbulb-o fa-stack-1x"></i>
</span>
</div>

<div class="container">
  <button id="allDoors" type="button"
    ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[lockAll]"
    ng-click="lockDoors('allDoors')">
      {{lockAll && 'Lock' || 'Unlock'}} all doors
  </button>
  <div class="btn-group">
    <button id="frontDoor" type="button"
      ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[lockFront]"
      ng-click="lockDoors('frontDoor')">
        {{lockFront && 'Lock' || 'Unlock'}} front door
    </button>
    <button id="backDoor" type="button"
        ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[lockBack]"
        ng-click="lockDoors('backDoor')">
          {{lockBack && 'Lock' || 'Unlock'}} back door
    </button>
  </div>
</div>

<div class="container">
  <button id="roomTempAll" type="button"
  ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[override]"
  ng-click="override = !override">
    Room temperature override
  </button>
  <div class="btn-group-vertical">
    <button id="tempUp" type="button"
    class="btn btn-default btn-xs"
    ng-click="tempOverride(true)"
    ng-disabled="{true: true, false: false}[override]">
      <span class="fa fa-chevron-up" aria-hidden="true"></span>
    </button>
    <button id="tempDown" type="button"
    class="btn btn-default btn-xs"
    ng-click="tempOverride(false)"
    ng-disabled="{true: true, false: false}[override]">
      <span class="fa fa-chevron-down" aria-hidden="true"></span>
    </button>
  </div>
<span class="infovalue"> {{temperature_override}} &#8451</span>
</div>
