<div class="allParts houseInfo">
  <h2>Smart House Home</h2>
  <p>Outside temperature:
    <span class="fa fa-thermometer-half fa-lg" style="color:red" aria-hidden="true"></span>
    <span class="infovalue"> {{temperatureOut}} &#8451 </span>
  </p>
  <p>Outside humidity:
    <span class="fa fa-tint fa-lg" style="color:blue" aria-hidden="true"></span>
    <span class="infovalue"> {{humidityOut}} % </span>
  </p>
</div>

<div class="allParts">
  <button id="lockAllDoors" type="button"
    ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[lockAll]"
    ng-click="lockDoors('allDoors')">
      {{lockAll && 'Lock' || 'Unlock'}} all doors
  </button>
  <div class="btn-group">
    <button id="frontDoor" type="button"
      ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[lockFront]"
      ng-click="lockDoors('frontDoor')">
        {{lockFront && 'Lock' || 'Unlock'}} front door
    </button>
    <button id="backDoor" type="button"
        ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[lockBack]"
        ng-click="lockDoors('backDoor')">
          {{lockBack && 'Lock' || 'Unlock'}} back door
    </button>
  </div>
</div>

<div class="allParts">
  <button id="turnOutdoorLights" type="button"
    class="btn btn-primary"
    ng-click="turnOutdoorLights()">
    Turn outdoor lights {{light && 'off' || 'on'}}
  </button>
<span class="fa-stack fa-2x" style="color:{{bulb}}" >
  <!-- <i class="fa fa-sun-o fa-stack-2x"></i> -->
  <i class="fa fa-sun-o fa-stack-2x ng-hide" ng-hide="!light"></i>
  <i class="fa fa-lightbulb-o fa-stack-1x"></i>
</span>
</div>

<div class="allParts">
  <button id="overrideRoomLighting" type="button"
  ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[overrideLight]"
  ng-click="toggleOverrideLight()">
  Room lighting override: {{overrideLight && 'OFF' || 'ON'}}
</button>
<span class="fa-stack fa-2x">
  <!-- <i class="fa fa-sun-o fa-stack-2x"></i> -->
  <i class="fa fa-ban text-danger fa-stack-2x ng-hide" ng-hide="overrideLight"></i>
  <i class="fa fa-lightbulb-o fa-stack-1x ng-hide" ng-hide="overrideLight"></i>
</div>

<div class="allParts">
  <button id="overrideRoomTemp" type="button"
  ng-class="{true: 'btn btn-primary', false: 'btn btn-danger'}[overrideTemp]"
  ng-click="toggleOverrideTemp()">
    Room temperature override: {{overrideTemp && 'OFF' || 'ON'}}
  </button>
  <div class="btn-group-vertical">
    <button id="temperatureUp" type="button"
    class="btn btn-default btn-xs"
    ng-click="heater(true)"
    ng-disabled="{true: true, false: false}[overrideTemp]"
    ng-hide="overrideTemp">
      <span class="fa fa-chevron-up" aria-hidden="true"></span>
    </button>
    <button id="temperatureDown" type="button"
    class="btn btn-default btn-xs"
    ng-click="heater(false)"
    ng-disabled="{true: true, false: false}[overrideTemp]"
    ng-hide="overrideTemp">
      <span class="fa fa-chevron-down" aria-hidden="true"></span>
    </button>
  </div>
<span class="infovalue" ng-hide="overrideTemp"> {{temperatureHouse}} &#8451</span>
</div>

<div class="allParts">
  Alerts: <span class="label label-success">{{alerts}}</span>
</div>
